@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import './libs/bootstrap-grid.min';
@import './libs/bootstrap-reboot.min';


*{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@import './blocks/header';
@import './blocks/banner';
@import './blocks/benifits';
@import './blocks/weare';
@import './blocks/trust';
@import './blocks/drivers';
@import './blocks/services';
@import './blocks/btn';
